* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'TitilliumWeb-Regular';
  font-size: 8px;
}

header {
  background-color: rgb(135, 80, 156);
}

header>.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 57px;
  
}

header nav {
  display: flex;
}

header nav>a {
  color: #ffffff;
 padding: 0 18px;
 font-size: 16px;
text-decoration: none;
}
header nav>a:hover {
  background-color: #643A79;
  border-radius: 5px;
}

header .head_content {
padding-top: 133px;
text-align: center;
padding-left: 15%;
padding-right: 15%;
}

header .head_content>h1 {
font-family: "TitilliumWeb-Bold";
color: #ffffff;
font-size: 42px;
}

/* -------------- */

main {

}

@font-face {
  font-family: "TitilliumWeb-Regular"
  ;
  src: url(../fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: "TitilliumWeb-Bold"
  ;
  src: url(../fonts/TitilliumWeb-Bold.ttf);
}
